<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <title>Beneficiary List</title>
</head>
<body>
<div class="container">
    <h3>Beneficiary Directory</h3>
    <hr>

    <a th:href="@{/beneficiaries/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Beneficiary
    </a>


    <form th:action="@{/beneficiaries/listByName}">
        <input type="text" th:name="beneficiaryName"/>
        <input type="submit"/>
    </form>


    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Unique Code</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempBeneficiary : ${beneficiaries}">
            <td th:text="${tempBeneficiary.getName()}"/>
            <td th:text="${tempBeneficiary.getUniqueCode}"/>
            <td>
                <!-- Update button/link -->
                <a th:href="@{/beneficiaries/showFormForUpdate(beneficiaryId=${tempBeneficiary.id})}"
                   class="button btn-info btn-sm">
                    Update
                </a>

                <!-- Delete button/link -->
                <a th:href="@{/beneficiaries/delete(beneficiaryId=${tempBeneficiary.id})}"
                   class="button btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this beneficiary?'))) return false">
                    Delete
                </a>

                <!-- QR Code button/link -->
                <a th:href="@{/beneficiaries/showQRCode(beneficiaryId=${tempBeneficiary.id})}"
                   class="button btn-dark btn-sm">
                    QR Code
                </a>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>